pub/
setup/
var/
*.sample
app/etc/
bin/
vendor/
composer.json
composer.lock
dev/
lib/
generated/
*.log
phpserver/
.editorconfig
.htaccess
.php-cs-fixer.dist.php
.user.ini
CHANGELOG.md
COPYING.txt
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
app/autoload.php
app/bootstrap.php
auth.json
*.sql
