<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="curso_customer_login_observer" instance="Curso\Observers\Observer\MyObserver"/>
    </event>
</config>
