/* Custom footer */
.custom-footer {
    background-color: yellow;
    color: blue;
    font-size: medium;
    font-weight: bolder;
    padding: 10px;

}

/* Custom header */
.custom-header {
    color: white;
    padding: 20px;

}

/* Custom header link */
.custom-header a {
    color: white;
    font-size: 25px;
    text-decoration: none;

}

/* Page header */
.page-header {
    background-color: red !important;
    color: white !important;
    padding: 10px !important;
}

/* Aumentar el tamaño del campo de búsqueda */
.block-search .input-text {
    font-size: 18px;
    /* Ajusta el tamaño de fuente según tus preferencias */
    height: 50px;
    /* Ajusta la altura según tus preferencias */
}

/* Cambiar el color del campo de búsqueda */
.block-search .input-text {
    background-color: blue;
    /* Cambia a tu color azul preferido */
    color: white;
    /* Cambia el color del texto al que desees */
}

/* Cambiar el color del botón de búsqueda */
.block-search .action.search {
    background-color: blue;
    /* Cambia a tu color azul preferido */
    color: white;
    /* Cambia el color del texto al que desees */
}

.product-label {
    background-color: #4CAF50;
    /* Color de fondo verde (puedes cambiarlo según tus preferencias) */
    color: white;
    /* Color del texto en la etiqueta */
    font-weight: bold;
    /* Texto en negrita */
    padding: 5px 10px;
    /* Espaciado interno en la etiqueta */
    border-radius: 5px;
    /* Borde redondeado */
    position: absolute;
}