<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="curso" translate="label" sortOrder="250">
            <label>Curso</label>
        </tab>
        <section id="curso_producto" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>curso-separator</class>
            <label>Product</label>
            <tab>curso</tab>
            <resource>Curso_Producto::product_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="variant_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Variant Type</label>
                    <source_model>Curso\Producto\Model\Config\Source\ValueType</source_model>
                </field>
                <field id="variant" translate="label"   type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Variante</label>
                    <validate>validate-number</validate>
                </field>
                <field id="incremental" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is incremental</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="groups" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Category Multi Select Dropdown</label>
                    <source_model>Curso\Producto\Model\Config\Source\Attribute</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>