.curso-news .rsg-news-list {
	padding: 15px;
	border: 1px solid #ccc;
	display: block;
	margin-top: -1px;
}

.curso-news .rsg-news-list:nth-child(even) {
	background-color: #f1f1f1;
}

.curso-news .rsg-news-list:nth-child(odd) {
	background-color: #FAFAFA;
}

.curso-news .rsg-news-title {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.curso-news .rsg-news-time {
	font-size: 14px;
	color: #666;
	font-style: italic;
}

.curso-news .pager {
	margin-top: 20px;
	display: flex;
}

.curso-news .toolbar-amount {
	margin-right: 20px;
}

.curso-news .rsg-news-desc {
	margin-top: 15px;
}

.curso-news a:hover {
	text-decoration: none;
}