<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="curso" translate="label" sortOrder="250">
            <label>Curso</label>
        </tab>
        <section id="curso_discount" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>curso-separator</class>
            <label>Discount</label>
            <tab>curso</tab>
            <resource>Curso_Discount::discpunt_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="value_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Value Type</label>
                    <source_model>Curso\Discount\Model\Config\Source\ValueType</source_model>
                </field>
                <field id="custom_value" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Value</label>
                    <validate>validate-number</validate>
                </field>
            </group>
            <group id="rules" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Filter Configuration</label>
                <field id="categories" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Category Multi Select Dropdown</label>
                    <source_model>Curso\Discount\Model\Config\Source\Attribute</source_model>
                    <frontend_model>Curso\Discount\Block\Adminhtml\MultiUiSelect</frontend_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="price_range_from" translate="label" sortOrder="0" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Price range from</label>
                    <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-0-10000000</validate>
                </field>
                <field id="price_range_to" translate="label" sortOrder="0" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Price range to</label>
                    <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-0-10000000</validate>
                </field>
            </group>
        </section>
    </system>
</config>